<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom bg-light">
  <div class="container-fluid">
    <%= link_to "Wikinimous", articles_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Add a new article", new_article_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="d-inline-flex p-2">
    <h1 class="border-bottom p-3"><%= @article.title %></h1>
    <p class="p-2"><%= link_to "Edit", edit_article_path(@article) %></p>
    <p class="p-2"><%= link_to "Delete this article",
      article_path(@article),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></p>
  </div>
  <div>
    <h3 class="ms-4 p3"><%= @article.content %></h3>
  </div>

  <div>
    <i class="fa-solid fa-pencil"><%= link_to "Edit", edit_article_path(@article) %></i>
    <i class="fa-solid fa-trash-can"><%= link_to "Delete",
      article_path(@article),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></i>
    <%= link_to "Edit", edit_article_path(@article) %>
  </div>

  <div>
    <p><%= link_to "Back to articles", articles_path%></p>
  </div>

  <div>

  </div>
</div>
