<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom bg-light">
  <div class="container-fluid">
    <%= link_to "Wikinimous", articles_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Add a new article", new_article_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>

<div id="header">
  <div class="d-inline-flex p-2 align-items-center">
    <h1 class="border-bottom p-3 text-danger-emphasis"><%= @article.title %></h1>
    <div>
      <i><%= link_to '', edit_article_path(@article), class: "fa-solid fa-pencil object-fit-fill" %></i>
      <i><%= link_to "", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash-can" %></i>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-6">
      <div>
        <h3 class="ms-4 p3"><%= @article.content %></h3>
      </div>
      <div>
        <p class="btn btn-primary mt-5 ms-4"><%= link_to "Back to articles", articles_path, class: "text-white"%></p>
      </div>
    </div>
  </div >
</div>
